body {
	font-family: 'Poppins';
	padding: 0 15px;
	background-image: linear-gradient(62deg, #fef2fa 0%, #bce8fe 100%);
	min-height: 100vh;
}

.container {
	max-width: 900px;
	margin: 0 -15px;
	margin: 40px auto;
}